<h1 class="text-3xl font-bold underline">index</h1>

<% @messages.each do |message| %>
  <div>
    <p> <%= message.content %> </p>
    <%= link_to "details", message_path(message) %>
  </div>
<% end %>
